
.reloj{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    width: 500px;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.clock .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock .container h2{
    font-size: 4em;
    color: #fff;
}

.clock .container h2:nth-child(odd){
    padding: 5px 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin:  0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.clock .container h2#seconds{
    color: #f9d524;
}

#ampm{
    position: relative;
    top: -25px;
    font-size: 2em;
    color: #fff;
    font-weight: 700;
}